.Text {
    padding: 30px 0;

}
.DescBox {
    height: calc(100vh - 60px);
    overflow: hidden;

    columns: 390rem 1;
    column-gap: 0;
}

.Desc {
    font-size: 18rem;
    font-weight: 400;
    line-height: 38rem;
    white-space: pre-line;
    padding: 0 16rem;
    transition: 1s;

}

.LeftBox,.RightBox {
    width: 194rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

.RightBox {
    left: auto;
    right: 0;
}
